<div *ngIf="isDataAvailable">
  <app-panel-loader></app-panel-loader>
  <div class="container" *ngIf="userRole()">
    <div class="container">
      <h2>Update</h2>
    </div>
    <div class="container">
      <button
        mat-button
        mat-ripple
        (click)="userUpdate()"
        id="account"
        class="btn btn-dark"
        style="margin-bottom: 20px"
      >
        Account settings
      </button>
      <form (ngSubmit)="submit()" #form="ngForm" class="form">
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            id="dateOfBirth"
            required
            [(ngModel)]="response.dateOfBirth"
            name="dateOfBirth"
            value="{{ student.dateOfBirth }}"
          />
        </div>
        <div class="form-group" *ngIf="userRole()">
          <label for="start_year">Start year</label>
          <input
            type="number"
            class="form-control"
            id="start_year"
            required
            [(ngModel)]="response.startYear"
            name="start_year"
            placeholder="{{ student.startYear }}"
            value="{{ student.startYear }}"
          />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            required
            [(ngModel)]="response.address"
            name="address"
            placeholder="{{ student.address }}"
            value="{{ student.address }}"
          />
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select
            name="gender"
            class="form-control form-control-sm"
            [(ngModel)]="selectedOptionGender"
          >
            <option *ngFor="let gender of genders" [ngValue]="gender">
              {{ gender }}
            </option>
          </select>
        </div>
        <div class="form-group" *ngIf="userRole()">
          <label for="educationId">Education ID</label>
          <input
            type="text"
            class="form-control"
            id="educationId"
            required
            [(ngModel)]="response.educationId"
            name="educationId"
            placeholder="{{ student.educationId }}"
            value="{{ student.educationId }}"
          />
        </div>
        <div class="form-group" *ngIf="userRole()">
          <label for="healthCareId">Health Care ID</label>
          <input
            type="text"
            class="form-control"
            id="healthCareId"
            required
            [(ngModel)]="response.healthCareId"
            name="healthCareId"
            placeholder="{{ student.healthCareId }}"
            value="{{ student.healthCareId }}"
          />
        </div>
        <div class="form-group">
          <label for="parent1Name">Father Name</label>
          <input
            type="text"
            class="form-control"
            id="parent1Name"
            [(ngModel)]="response.fatherName"
            name="parent1Name"
            placeholder="{{ student.fatherName }}"
            value="{{ student.fatherName }}"
          />
        </div>
        <div class="form-group">
          <label for="parent2Name">Mother Name</label>
          <input
            type="text"
            class="form-control"
            id="parent2Name"
            [(ngModel)]="response.motherName"
            name="parent2Name"
            placeholder="{{ student.motherName }}"
            value="{{ student.motherName }}"
          />
        </div>
        <div class="form-group">
          <label for="parent1Phone">Father Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="parent1Phone"
            [(ngModel)]="response.fatherPhone"
            name="parent1Phone"
            placeholder="{{ student.fatherPhone }}"
            value="{{ student.fatherPhone }}"
          />
        </div>
        <div class="form-group">
          <label for="parent2Phone">Mother Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="parent2Phone"
            [(ngModel)]="response.motherPhone"
            name="parent2Phone"
            placeholder="{{ student.motherPhone }}"
            value="{{ student.motherPhone }}"
          />
        </div>
        <div class="form-group" *ngIf="userRole()">
          <label for="classroom">Classroom</label>
          <select
            name="classroom"
            class="form-control form-control-sm"
            [(ngModel)]="selectedOption"
          >
            <option *ngFor="let classroom of classrooms" [ngValue]="classroom">
              {{ classroom.year }}/{{ classroom.letter }}
            </option>
          </select>
        </div>
        <button type="submit" (click)="goBack()" class="btn btn-dark">
          Back
        </button>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
