<div *ngIf="isDataAvailable">
  <app-panel-loader></app-panel-loader>
  <div class="container" *ngIf="userRole()">
    <div class="container">
      <h2 style="margin-top: 30px">Student</h2>
    </div>
    <div class="container">
      <table class="table table-bordered" *ngIf="student">
        <tbody>
          <tr>
            <td>Username</td>
            <td>{{ student.student.username }}</td>
          </tr>
          <tr>
            <td>Fullname</td>
            <td>{{ student.student.fullName }}</td>
          </tr>
          <tr>
            <td>Date of birth</td>
            <td>{{ student.dateOfBirth }}</td>
          </tr>
          <tr>
            <td>Start year</td>
            <td>{{ student.startYear }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ student.address }}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{ student.gender }}</td>
          </tr>
          <tr>
            <td>Education ID</td>
            <td>{{ student.educationId }}</td>
          </tr>
          <tr>
            <td>Health Care ID</td>
            <td>{{ student.healthCareId }}</td>
          </tr>
          <tr>
            <td>Father Name</td>
            <td>{{ student.fatherName }}</td>
          </tr>
          <tr>
            <td>Mother Name</td>
            <td>{{ student.motherName }}</td>
          </tr>
          <tr>
            <td>Father Phone Number</td>
            <td>{{ student.fatherPhone }}</td>
          </tr>
          <tr>
            <td>Mother Phone Number</td>
            <td>{{ student.motherPhone }}</td>
          </tr>
          <tr>
            <td>Classroom</td>
            <td>{{ student.classroom.year }}/{{ student.classroom.letter }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
